pre[class*="language-"] {
    margin: 0;
    height: 100%;
    background: white;
    font-family: Consolas, Menlo, Monaco, monospace;
    font-size: 16px;
    line-height: 24px;
    padding: 0.3rem 0.7rem;
}

@import "~prismjs/themes/prism.css";